#title {
    text-align: center;
}

#file_select {
    text-align: center;
}

#submit_button {
    text-align: center;
}

#segmentation {
    margin-left: auto;
    margin-right:auto;
}

.flashes {
    border: 2px;
    background-color: #EE4444;
}

.centered {
    margin-left:auto; 
    margin-right:auto;
}