#title {
    text-align: center;
}

#file_select {
    text-align: center;
}

#segmentation {
    margin-left: auto;
    margin-right:auto;
}

div.segmentation_title {
    font-weight: bold;
}

#statistics-button {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 250px;
    height: 20px;
    background-color: #E0E0E0;
    border: solid 3px;
}

#statistics {
    margin-left: auto;
    margin-right: auto;
}

#infoline {
    text-align: center;
    font-size: 0.7em;
    color: #707070;
}

.flashes {
    border: 2px;
    background-color: #EE4444;
}

.centered {
    margin-left:auto; 
    margin-right:auto;
}

h2 {
    text-align: center;
}