<!doctype html>
<html>
  <head>
    <title>Neuronal activity analyzer</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='jquery-2.2.3.min.js') }}"></script>
    <script>

      var segmentation = {{ segmentation_data }};
      
      function continue_to_statistics() {
        window.location.href = "/statistics/" + get_videoname() + "/" + get_session();
      }

      function get_videoname() {
        return $('#videoname').val();
      }

      function get_session() {
        return $('#session').val();
      }
    </script>
  </head>
  <body bgcolor="#D0D0D0">
    <h1 id="title">Neuronal activity analyzer - ROI Editor</h1>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
	    {% for message in messages %}
                <li>{{ message }}</li>
	    {% endfor %}
	    </ul>
	{% endif %}
    {% endwith %}

    <div class="centered">
      <img id='view' width="800" height="800">
    </div>
    
    <hr>
    <div id="submit_button">
      <input type="submit" value="Continue to Statistics" onclick="continue_to_statistics()">
    </div>

    <input type="hidden" id="videoname" name="videoname" value="{{ videoname }}">
    <input type="hidden" id="session" name="session" value="{{ session }}">
  </body>
</html>
