<!doctype html>
<html>
  <head>
    <title>Neuronal activity analyzer</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='jquery-2.2.3.min.js') }}"></script>
    <script>
      var thresholds = {};
      
      function build_query_string() {
          var query_string = "?";
          query_string += "session=" + get_session();
          query_string += "&segmentation_source=" + $('input[name="segmentation_source"]:checked').val();
          query_string += "&gauss_radius=" + $('#gauss_radius').val();
          query_string += "&threshold=" + $('#threshold').val();
          query_string += "&segmentation_algorithm=" + $('input[name="segmentation_algorithm"]:checked').val();
          return query_string;
      }

      function get_session() {
          return $('#sessionselect').find(":selected").text();
      }

      function get_videoname() {
          return $('#fileselect').find(":selected").text();
      }
      
      function update_images() {
          $("#source_image").attr(
              "src", "/segmentation_image/" + get_videoname() + "/segmentation_source" + build_query_string());
          $("#filtered_image").attr(
              "src", "/segmentation_image/" + get_videoname() + "/segmentation_filtered" + build_query_string());
          $("#thresholded_image").attr(
              "src", "/segmentation_image/" + get_videoname() + "/segmentation_thresholded" + build_query_string());
          $("#segmented_image").attr(
              "src", "/segmentation_image/" + get_videoname() + "/segmentation_displayable" + build_query_string());

          $.getJSON("/get_thresholds/" + get_videoname() + build_query_string(),
              function(data) { thresholds = data; });
      }

      function apply_li() {
          $('#threshold').val(thresholds['li']);
      }
      
      function apply_otsu() {
          $('#threshold').val(thresholds['otsu']);
      }
      
      function apply_yen() {
          $('#threshold').val(thresholds['yen']);
      }

      function continue_to_editor() {
          $.get("/segmentation_image/" + get_videoname()
                    + "/segmentation_segmented" + build_query_string()
                    + "&save=1", function (data) { open_editor(); })
      }
      
      function open_editor() {
          window.location.href = "/roi_editor/" + get_videoname() + "/" + get_session();
      }

      function update_sessions() {
          $.getJSON("/get_sessions/" + get_videoname(), display_sessions);
      }

      function create_session() {
        $.getJSON("/create_session/" + get_videoname() + "/" + $('#sessionname').val(),
          display_sessions);	 
      }

      function display_sessions(data) {
        var options_as_string;
        for(var i = 0; i < data['sessions'].length; ++i) {
          options_as_string += '<option>' + data['sessions'][i] + '</option>';
	}
	$('#sessionselect').html(options_as_string);
      }
    </script>
  </head>
  <body bgcolor="#D0D0D0">
    <h1 id="title">Neuronal activity analyzer - Segmentation</h1>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
	    {% for message in messages %}
                <li>{{ message }}</li>
	    {% endfor %}
	    </ul>
	{% endif %}
    {% endwith %}

    <div id='file_select'>
	      
      <p>To analyze a file, choose it from the list or upload a new file.</p>
      <form action="/upload" method=post enctype=multipart/form-data>
        <input type="file" name="uploaded_file">
        <input type="submit" value="Upload">
      </form>
      <br>
      <select id="fileselect" name="fileselect" size="10" onclick="update_sessions()">
        {% for item in files %}
          <option>{{item}}</option>
        {% endfor %}
      </select>

      <select id="sessionselect" name="sessionselect" size="10" onclick="update_images()">
      </select>
      <input type="text" id="sessionname" name="sessionname" value="default">
      <input type="submit" value="Create session" onclick="create_session()">
    </div>
    <hr>
    <div id='segmentation'>
      <table class='centered' cols="2" rows="2">
	<tr>
	  <td>
            <p>Source Frame</p>
	    <table>
	      <tr>
		<td>
		  <img id="source_image" width="400" height="400">
		</td>
		<td>
		  Source for segmentation: <br>
		  <input type="radio" name="segmentation_source" value="first_frame" onclick="update_images()">First frame<br>
		  <input type="radio" name="segmentation_source" value="mean" onclick="update_images()" checked>Mean<br>
		  <input type="radio" name="segmentation_source" value="variance" onclick="update_images()">Variance<br>
		</td>
	      </tr>
	    </table>
          </td>
	  <td>
            <p>Gauss filtering</p>
	    <table>
	      <tr>
		<td>
		  <img id="filtered_image" width="400" height="400">
		</td>
		<td>
		  Sigma radius: <br>
		  <input type="text" id="gauss_radius" name="gauss_radius" value="2">
		  <input type="submit" onclick="update_images()" value="go">
		</td>
	      </tr>
	    </table>
          </td>
	</tr>
	<tr>
	  <td>
            <p>Thresholding</p>
	    <table>
	      <tr>
		<td>
		  <img id="thresholded_image" width="400" height="400">
		</td>
		<td>
		  Threshold(Percent of dynamic range):
		  <br>
		  <input type="text" id="threshold" name="threshold" value="li">
		  <input type="submit" onclick="update_images()" value="go">
		  <br>
		  <input type="submit" onclick="apply_li()" value="Li">
		  <input type="submit" onclick="apply_otsu()" value="Otsu">
		  <input type="submit" onclick="apply_yen()" value="Yen">
		</td>
	      </tr>
	    </table>
          </td>
	  <td>
            <p>Segmentation</p>
	    <table>
	      <tr>
		<td>
		  <img id="segmented_image" width="400" height="400">
		</td>
		<td>
		  Algorithm: <br>
		  <input type="radio" name="segmentation_algorithm" value="watershed" onclick="update_images()" checked>Watershed<br>
		  <input type="radio" name="segmentation_algorithm" value="randomwalk" onclick="update_images()">Random walk<br>
		  <input type="radio" name="segmentation_algorithm" value="kmeans" onclick="update_images()">K means<br>
		  <input type="radio" name="segmentation_algorithm" value="fill" onclick="update_images()">Fill<br>
		</td>
	      </tr>
	    </table>
	  </td>
	</tr>
      </table>
    </div>
    <hr>
    <div id="submit_button">
      <input type="submit" value="Continue to ROI editor" onclick="continue_to_editor()">
    </div>
  </body>
</html>
